*{ Color : #fff; 
    Background : #000;
    box-sizing: border-box;
    /* font-family: 'Canela Web','Times New Roman', serif; */
    /* font-family: Georgia, Times, serif; */
    /* font-family: Helvetica, Arial, sans-serif; */
    /* font-family: 'Atlas Grotesk Web', Helvetica, Arial, sans-serif; */
    /* font-family: 'Publico Text Web', Georgia, Times, serif; */
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    line-height: 1.5;
    font-size: 15px;
} 
.intro {
    width: 60%;
    text-align: middle;
    align-items: center;
}

.paragraph {
    width: 1200px;
    margin: auto;
    display: flex;
    align-items: center;
}

.txt {
    vertical-align: middle;
    /* padding-left: 40px; */
}

#plot1 {
    /* width: 30%; */
    vertical-align: middle;
}

.title {
    font-size: large;
    font-weight: bolder;
    text-anchor: middle;
    fill: #fff;
}

.xlabel {
    text-anchor: middle;
    fill: #fff;
}

.ylabel {
    text-anchor: middle;
    fill: #fff;
}

.section {
    font-size: 60px;
    font-weight: bolder;
}

#intro {
    font-size: medium;
}

.plot {
    margin: auto;
    text-align: right;
}

.section {
    text-align: center;
}

#intro {
    text-align: center;
}

.tooltip {
    visibility: hidden;
    position: absolute;
    text-align: center;
    background-color:black;
    padding: 5px;
    /* border: solid; */
    opacity: .8;
    /* width: 200; */
}

.links{
    stroke: #aaa;
}

.labels {
    font-size: small;
}